
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<div class="logo-name">Otdelka-club</div>
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
			</div>
			<div class="contacts-inner-wrap">
				<div class="footer-title">Контакты</div>
				<div class="phones-wrap">
					<div class="phone-wrap">
						<a href="tel:849517729-41">8 (495) 177-29-41</a>
					</div>
					<div class="phone-wrap">
						<a href="tel:849517729-41">8 (495) 177-29-41</a>
					</div>
					<div class="callback-wrap">
						<a href="" class="btn button-border js-popup-open" data-popup="popup-callback">Заказать звонок</a>
					</div>
				</div>
				<div class="addresses-wrap">
					<div class="footer-title">Адреса</div>
					<div class="address-wrap">Адрес магазина 1</div>
					<div class="address-wrap">Адрес магазина 2</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Меню сайта</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">О компании</a></li>
						<li><a href="" class="btn-menu">Доставка и оплата</a></li>
						<li><a href="" class="btn-menu">Гарантии</a></li>
						<li><a href="" class="btn-menu">Новости</a></li>
						<li><a href="" class="btn-menu">Акции</a></li>
						<li><a href="" class="btn-menu">Контакты</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Каталог</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
						<li><a href="" class="btn-menu">Натуральные обои</a></li>
					</ul>
				</div>
			</div>
			<div class="map-inner-wrap">
				<div class="map-title-wrap">
					<div class="footer-title">Наши магазины на карте</div>
					<div class="footer-action">
						<a href="" class="link-main">показать все магазины</a>
					</div>
				</div>
				<div class="map-wrap">
					<img src="./img/main/map.jpg" alt="" class="img-bg-cover">
				</div>
				<div class="map-action-wrap">
					<a href="" class="btn button-border">показать все магазины</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">© Все права защищены, 2024</div>
				<div class="info-wrap">Сайт разработан <a href=""><b>OOmi</b></a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->