
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li><a href="" class="btn-menu">О компании</a></li>
					<li><a href="" class="btn-menu">Доставка и оплата</a></li>
					<li><a href="" class="btn-menu">Гарантии</a></li>
					<li><a href="" class="btn-menu">Новости</a></li>
					<li><a href="" class="btn-menu">Акции</a></li>
					<li><a href="" class="btn-menu">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts-inner-wrap">
				<div class="phones-wrap">
					<div class="phone-wrap">
						<a href="tel:849517729-41">8 (495) 177-29-41</a>
					</div>
					<div class="phone-wrap">
						<a href="tel:849517729-41">8 (495) 177-29-41</a>
					</div>
					<div class="callback-wrap">
						<a href="" class="link-main js-popup-open" data-popup="popup-callback">Заказать звонок</a>
					</div>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="top-inner-wrap">
				<div class="logo-inner-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo.svg" alt="">
						</div>
						<div class="logo-title">Наши магазины на карте</div>
					</a>
				</div>
				<div class="soc-inner-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
			</div>
			<div class="catalog-inner-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-catalog btn button-second button-active-close js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<div class="menu-content-wrap">
						<div class="menu-content-main js-tabs-nav">
							<ul class="menu">
								<li>
									<a href="" class="btn-menu active" data-tab="menu01">
										<div class="button-title">обои</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu" data-tab="menu02">
										<div class="button-title">жидкие обои</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu" data-tab="menu03">
										<div class="button-title">краска</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu" data-tab="menu04">
										<div class="button-title">лепнина</div>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu" data-tab="menu05">
										<div class="button-title">панели для стен</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="menu-content-items">
							<div class="menu-content-block js-tab-block" data-tab="menu01">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header01.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">Натуральные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header02.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">виниловые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header04.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">бумажные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
							<div class="menu-content-block js-tab-block" data-tab="menu02">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header02.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">виниловые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header01.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">Натуральные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header02.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">виниловые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header04.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">бумажные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
							<div class="menu-content-block js-tab-block" data-tab="menu03">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header04.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">бумажные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
							<div class="menu-content-block js-tab-block" data-tab="menu04">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header04.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">бумажные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header01.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">Натуральные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header02.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">виниловые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
							<div class="menu-content-block js-tab-block" data-tab="menu05">
								<div class="items-wrap">
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header01.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">Натуральные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header02.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">виниловые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header03.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">флизелиновые обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
									<!--item wrap-->
									<div class="item-wrap">
										<a href="" class="item-tile-menu">
											<div class="tile-photo-wrap">
												<div class="tile-photo">
													<img src="./img/main/header04.jpg" alt="">
												</div>
											</div>
											<div class="tile-info-wrap">
												<div class="tile-title">бумажные обои</div>
											</div>
										</a>
									</div>
									<!--/item wrap-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="search-inner-wrap">
				<form action="" class="frm-main-search">
					<input type="text" class="form-input inp-light" placeholder="Введите название товара">
					<button type="submit" class="btn-action-ico ico-search btn-form"></button>
				</form>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap action-fav">
					<a href="" class="btn button-second">
						<div class="button-ico">
							<img src="./img/icons/fav.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-user">
					<a href="" class="btn button-second">
						<div class="button-title">профиль</div>
						<div class="button-ico">
							<img src="./img/icons/user.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn" data-count="3">
						<div class="button-title">
							Корзина
							<div class="button-total" data-unit=" ₽">15 520</div>
						</div>
						<div class="button-ico">
							<img src="./img/icons/cart.svg" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->
 

<!--mobile-panel-box-->
<div class="mobile-panel-box cnt-section">
	<div class="inner-wrap">
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action-ico active">
					<img src="./img/icons/mobile-home.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/mobile-catalog.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/mobile-cart.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/mobile-fav.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/mobile-user.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<!--/mobile-panel-box-->